/*Montserrat font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Initial config*/
* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    list-style-type: none;
}

body {
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color: #1b1819;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #fee719;
    border-radius: 10px;
}

/*header*/
header {
    display: flex;
    height: 40vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../img/LOGO.jpg);
}

header:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0) 1%, #000 90%);
}

#return_top {
    top: 20px;
    left: 20px;
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: calc(1em + .3vw);
    z-index: 99;
}

#return_top i {
    color: white;
    margin: -5px;
}

#return {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#return_bottom {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b1819;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    align-items: center;
    color: white;
    font-size: calc(1em + .3vw);
    z-index: 99;
    transition: .5s;
}

#return_bottom:hover {
    background-color: #424e40;
}

#return_bottom i {
    color: white;
    margin: -5px;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

main::after {
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0) 1%, #000 90%);
}

/*Text config*/
#text {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#text p:not(:last-child) {
    padding-bottom: 20px;
}

#title {
    font-family: "Russo One", sans-serif;
    font-size: calc(1em + 2vw);
    padding: 40px 0px;
}

/*P config*/
p {
    font-size: calc(1em + .3vw);
    line-height: 30px;
    text-align: justify;
    text-indent: 40px;
    width: 70vw;
}


/*SlideShow1*/
#imgs {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    position: absolute;
    width: 800px;
    height: 378px;
    overflow: hidden;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
}

#slides3 {
    display: flex;
    width: 300%;
    height: 100%;
}

#slides6 {
    display: flex;
    width: 600%;
    height: 100%;
}

#slide3 {
    /*100/3 = 33.33*/
    width: 33.3333333333333333333333333%;
    transition: .5s;
}

#slide6 {
    /*100/3 = 33.33*/
    width: 16.6666666667%;
    transition: .5s;
}

img {
    width: 800px;
    height: 378px;
}

#navigation {
    display: flex;
    position: absolute;
    bottom: 10px;

    /*Aligning the elements if the most bizarre way*/
    left: 50%;
    transform: translate(-50%);
}

#imgs input {
    display: none;
}

#manual_btn {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

#manual_btn:hover {
    background-color: #000;
}

#manual_btn:not(:last-child) {
    margin-right: 10px;
}

#radio1A:checked~.first {
    margin-left: 0;
}

#radio2A:checked~.first {
    margin-left: -16.6666666667%;
}

#radio3A:checked~.first {
    margin-left: -33.3333333334%;
}

#radio4A:checked~.first {
    margin-left: -50%;
}

#radio5A:checked~.first {
    margin-left: -66.6666666667%;
}

#radio6A:checked~.first {
    margin-left: -83,3333333334%;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #A2A8B5 10%, #A8B591 90%);
}

footer p {
    text-align: center;
}